# Assignment 3
## s3843790

In [1]:
import pandas as pd
import numpy as np

# Load MovieLens 100K dataset into a dataframe of pandas
names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('ml-100k/u.data', sep='\t', names=names)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [2]:
# Select 500 most active users and 500 most active items from the dataset
n_most_active_users = 500
n_most_active_items = 500

user_ids = df.groupby('user_id').count().sort_values(by='rating', ascending=False).head(n_most_active_users).index
item_ids = df.groupby('item_id').count().sort_values(by='rating', ascending=False).head(n_most_active_items).index
df = df[(df['user_id'].isin(user_ids)) & (df['item_id'].isin(item_ids))]

In [3]:
# Map new internal ID for items
i_ids = df['item_id'].unique().tolist()
item_dict = dict(zip(i_ids, [i for i in range(len(i_ids))]))
df['item_id'] = df['item_id'].map(item_dict)

# Split Dataset

In [4]:
# The number of training users and active users
n_training_users = 300
n_active_users = n_most_active_users - n_training_users

# The number of GIVEN ratings for active users
GIVEN = 20

# Randomly select users from the most active users as training set
random_uids = np.random.choice(df.user_id.unique(), n_training_users, replace=False)
train_df = df[df['user_id'].isin(random_uids)]
# Map new internal ID for all users in the training set
u_ids = train_df['user_id'].unique().tolist()
user_dict = dict(zip(u_ids, [i for i in range(len(u_ids))]))
train_df['user_id'] = train_df['user_id'].map(user_dict)

# The rest of users are active users for testing
remain_df = df[~df['user_id'].isin(random_uids)]
# Map new internal ID for all active users
u_ids = remain_df['user_id'].unique().tolist()
user_dict = dict(zip(u_ids, [i for i in range(len(u_ids))]))
remain_df['user_id'] = remain_df['user_id'].map(user_dict)

# Randomly select GIVEN ratings for active users
active_df = remain_df.groupby('user_id').sample(n=GIVEN, random_state=1024)

test_df = remain_df[~remain_df.index.isin(active_df.index)]

<ipython-input-4-fb140fbf3b12>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['user_id'] = train_df['user_id'].map(user_dict)
<ipython-input-4-fb140fbf3b12>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  remain_df['user_id'] = remain_df['user_id'].map(user_dict)

In [5]:
# Convert the format of datasets to matrices
df_zeros = pd.DataFrame({'user_id': np.tile(np.arange(0, n_training_users), n_most_active_items), 'item_id': np.repeat(np.arange(0, n_most_active_items), n_training_users), 'rating': 0})
train_ds = df_zeros.merge(train_df, how='left', on=['user_id', 'item_id']).fillna(0.).pivot_table(values='rating_y', index='user_id', columns='item_id')

df_zeros = pd.DataFrame({'user_id': np.tile(np.arange(0, n_active_users), n_most_active_items), 'item_id': np.repeat(np.arange(0, n_most_active_items), n_active_users), 'rating': 0})
active_ds = df_zeros.merge(active_df, how='left', on=['user_id', 'item_id']).fillna(0.).pivot_table(values='rating_y', index='user_id', columns='item_id')
test_ds = df_zeros.merge(test_df, how='left', on=['user_id', 'item_id']).fillna(0.).pivot_table(values='rating_y', index='user_id', columns='item_id')

train_ds, active_ds, test_ds

(item_id  0    1    2    3    4    5    6    7    8    9    ...  490  491  492  \
 user_id                                                    ...
 0        3.0  0.0  0.0  0.0  0.0  0.0  0.0  4.0  0.0  0.0  ...  0.0  0.0  0.0
 1        0.0  2.0  0.0  4.0  0.0  4.0  4.0  0.0  0.0  2.0  ...  0.0  4.0  4.0
 2        0.0  0.0  4.0  4.0  4.0  0.0  0.0  4.0  0.0  0.0  ...  0.0  0.0  0.0
 3        4.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 4        0.0  0.0  0.0  0.0  5.0  0.0  0.0  0.0  0.0  4.0  ...  0.0  0.0  0.0
 ...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 295      0.0  0.0  0.0  0.0  0.0  0.0  0.0  5.0  4.0  5.0  ...  0.0  0.0  4.0
 296      0.0  0.0  5.0  4.0  0.0  1.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
 297      0.0  0.0  0.0  5.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 298      0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  4.0  0.0
 299      0.0  0.0  0.0  0.0  0.0  0.0  0.0  3.0  3.0  0.0  ...  4.0  0.0  0.0

 item_id  493  494  495  496  497  498  499
 user_id
 0        0.0  0.0  0.0  4.0  0.0  3.0  0.0
 1        0.0  3.0  3.0  0.0  0.0  0.0  0.0
 2        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 3        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 4        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 ...      ...  ...  ...  ...  ...  ...  ...
 295      0.0  4.0  2.0  3.0  0.0  0.0  0.0
 296      0.0  0.0  0.0  0.0  0.0  1.0  0.0
 297      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 298      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 299      5.0  0.0  0.0  3.0  0.0  0.0  0.0

 [300 rows x 500 columns],
 item_id  0    1    2    3    4    5    6    7    8    9    ...  490  491  492  \
 user_id                                                    ...
 0        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 1        0.0  0.0  4.0  0.0  0.0  2.0  3.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 3        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 ...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 195      0.0  0.0  0.0  0.0  0.0  4.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 196      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 197      4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 198      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 199      0.0  0.0  0.0  0.0  0.0  0.0  0.0  4.0  0.0  0.0  ...  0.0  0.0  0.0

 item_id  493  494  495  496  497  498  499
 user_id
 0        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 1        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 2        0.0  5.0  0.0  0.0  0.0  0.0  0.0
 3        1.0  0.0  0.0  0.0  0.0  0.0  0.0
 4        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 ...      ...  ...  ...  ...  ...  ...  ...
 195      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 196      0.0  0.0  0.0  0.0  5.0  0.0  0.0
 197      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 198      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 199      0.0  0.0  0.0  0.0  0.0  0.0  0.0

 [200 rows x 500 columns],
 item_id  0    1    2    3    4    5    6    7    8    9    ...  490  491  492  \
 user_id                                                    ...
 0        4.0  0.0  5.0  0.0  1.0  0.0  3.0  2.0  0.0  0.0  ...  0.0  0.0  0.0
 1        0.0  4.0  0.0  4.0  3.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
 2        0.0  0.0  0.0  0.0  0.0  5.0  4.0  4.0  0.0  5.0  ...  3.0  0.0  0.0
 3        4.0  0.0  5.0  0.0  0.0  0.0  4.0  2.0  0.0  2.0  ...  0.0  3.0  0.0
 4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  4.0  0.0  0.0
 ...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 195      0.0  4.0  0.0  5.0  0.0  0.0  0.0  4.0  0.0  4.0  ...  0.0  0.0  0.0
 196      0.0  0.0  0.0  0.0  0.0  0.0  0.0  5.0  0.0  4.0  ...  4.0  0.0  0.0
 197      0.0  0.0  0.0  0.0  0.0  0.0  0.0  4.0  0.0  0.0  ...  0.0  0.0  4.0
 198      4.0  0.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
 199      0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  5.0

 item_id  493  494  495  496  497  498  499
 user_id
 0        4.0  1.0  0.0  0.0  0.0  0.0  2.0
 1        0.0  0.0  2.0  0.0  0.0  0.0  0.0
 2        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 3        0.0  0.0  0.0  0.0  0.0  0.0  3.0
 4        0.0  0.0  0.0  0.0  0.0  0.0  0.0
 ...      ...  ...  ...  ...  ...  ...  ...
 195      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 196      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 197      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 198      0.0  0.0  0.0  0.0  0.0  0.0  0.0
 199      0.0  0.0  3.0  0.0  0.0  0.0  0.0

 [200 rows x 500 columns])

In [6]:
# Predicting All Missing Data in training set
imputed_train_ds = train_ds.values.copy()

# Your implementation to predict the missing values
(Put all your implementation for your algorithm in the following cell only to handle the missing values; )

In [7]:
## Put all your implementation for your solution in this cell only to predict the missing values; 
## NOTE 1: DO NOT change anything in the rest of the cells in this framework, 
## otherwise the changes might cause errors and make your implementation invalid.

## Note 2: 
## The user-item rating matrix is imputed_train_ds, 
## and the missing values are those 0s in imputed_train_ds. 
## You are required to predict them by using the solution in the given report. 

## The following parameters are required in the given report, 
## which is named "Effective Missing Data Prediction for Collaborative Filtering", 
## and you will need to use them. But, please do not change their values. 
LAMBDA = 0.7    # λ
GAMMA = 10      # γ
DELTA = 10      # δ
ITA = 0.7       # η
THETA = 0.7     # θ
EPSILON = 1e-9
imputed_train_ds_copy=imputed_train_ds.copy()

def Sim_U(a,u,GAMMA):
    U_a=imputed_train_ds[a,:] #extract the data vector of a 'th' user
    U_u=imputed_train_ds[u,:] #extract the data vector of u 'th' user
    inters=U_a*U_u!=0 # intersection of above two sets
    U_a=U_a[inters] # select common items
    mean_ra=np.mean(U_a)
    ra=U_a-mean_ra
    U_u=U_u[inters]# select common items
    mean_ru=np.mean(U_u)
    ru=U_u-mean_ru
    return((min(sum(inters),GAMMA)/GAMMA)*np.sum(ra*ru)/(np.sqrt(np.sum(ra*ra))*np.sqrt(np.sum(ru*ru))))

def Sim_I(i,j,DELTA):
    I_i=imputed_train_ds[:,i] #extract the data vector of i 'th' item
    I_j=imputed_train_ds[:,j] #extract the data vector of j 'th' item
    inters=I_i*I_j!=0 # intersection of above two set
    I_i=I_i[inters] # select common users
    mean_ri=np.mean(I_i)
    ri=I_i-mean_ri
    I_j=I_j[inters] # select common users
    mean_rj=np.mean(I_j)
    rj=I_j-mean_rj
    return((min(sum(inters),DELTA)/DELTA)*np.sum(ri*rj)/(np.sqrt(np.sum(ri*ri))*np.sqrt(np.sum(rj*rj))))

## Find similar users
def Sim_users(u_indx,GAMMA,ITA):
    indx_array=[]
    for i in range(imputed_train_ds.shape[0]):
        if i!=u_indx:
            if Sim_U(i,u_indx,GAMMA)>ITA: #Check the condition
                indx_array.append(i)
    return(indx_array)

## Find similar items
def Sim_items(i_indx,DELTA,THETA):
    indx_array=[]
    for i in range(imputed_train_ds.shape[1]):
        if i!=i_indx:
            if Sim_I(i,i_indx,DELTA)>THETA: #Check the condition
                indx_array.append(i)
    return(indx_array)

def P_u(u_indx,i_indx,GAMMA):
    S_u=Sim_users_array[u_indx] # Find similar users
    Sum_numerator=0
    Sum_denominator=0
    for u in S_u:
        Sum_numerator+=Sim_U(u_indx,u,GAMMA)*(imputed_train_ds[u,i_indx]-np.mean(imputed_train_ds[u,:]))# Find the sum of numerator
        Sum_denominator+=Sim_U(u_indx,u,GAMMA) # Find the sum of denominator
    return(np.mean(imputed_train_ds[u_indx,:])+(Sum_numerator/Sum_denominator))

def P_i(u_indx,i_indx,DELTA):
    S_i=Sim_items_array[i_indx] # Find similar items
    Sum_numerator=0
    Sum_denominator=0
    for i in S_i:
        Sum_numerator+=Sim_I(i_indx,i,DELTA)*(imputed_train_ds[u_indx,i]-np.mean(imputed_train_ds[:,i])) # Find the sum of numerator
        Sum_denominator+=Sim_I(i_indx,i,DELTA) # Find the sum of denominator
    return(np.mean(imputed_train_ds[:,i_indx])+(Sum_numerator/Sum_denominator))

## Main function to calculate missing values
def P_ui(u_indx,i_indx,LAMBDA,DELTA,GAMMA):
    Similar_users=Sim_users_array[u_indx]
    Similar_items=Sim_items_array[i_indx]
    if len(Similar_users)==0 and len(Similar_items)==0:
        P=0
    elif len(Similar_users)==0:
        P=P_i(u_indx,i_indx,DELTA)
    elif len(Similar_items)==0:
        P=P_u(u_indx,i_indx,GAMMA)
    else:
        P=LAMBDA*P_u(u_indx,i_indx,GAMMA)+(1-LAMBDA)*P_i(u_indx,i_indx,DELTA)
    return(P)

## Find similar users for each individual user
Sim_users_array=[]
for u_indx in range(imputed_train_ds.shape[0]):
        Sim_users_array.append(Sim_users(u_indx,GAMMA,ITA)) #append similar users to an array

## Find similar items for each individual item
Sim_items_array=[]
for i_indx in range(imputed_train_ds.shape[1]):
        Sim_items_array.append(Sim_items(i_indx,DELTA,THETA)) #append similar items to an array

for u_indx in range(imputed_train_ds.shape[0]):
    for i_indx in range(imputed_train_ds.shape[1]):
        if imputed_train_ds[u_indx,i_indx]==0:
            imputed_train_ds_copy[u_indx,i_indx]=P_ui(u_indx,i_indx,LAMBDA,DELTA,GAMMA) #update missing values
    # print(str(u_indx+1)+"/"+str(imputed_train_ds.shape[0])+" completed")  # used to check that program works & didn't
    # freeze since this process takes a very long time. Not necessary for the code to run properly.
imputed_train_ds=imputed_train_ds_copy

<ipython-input-7-19c64ec11f3a>:31: RuntimeWarning: invalid value encountered in double_scalars
  return((min(sum(inters),GAMMA)/GAMMA)*np.sum(ra*ru)/(np.sqrt(np.sum(ra*ra))*np.sqrt(np.sum(ru*ru))))
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3419: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
<ipython-input-7-19c64ec11f3a>:43: RuntimeWarning: invalid value encountered in double_scalars
  return((min(sum(inters),DELTA)/DELTA)*np.sum(ri*rj)/(np.sqrt(np.sum(ri*ri))*np.sqrt(np.sum(rj*rj))))

# Evaluation

### Compute Pearson Correlation Coefficient of All Pairs of Items between active set and imputed training set

In [8]:
imputed_train_ds = pd.DataFrame(imputed_train_ds)
imputed_train_ds

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,3.000000,1.237974,0.000000,1.153772,0.000223,0.598356,0.566452,4.000000,0.308775,0.000000,...,0.505641,0.000000,-0.169716,0.322944,-0.066644,0.646821,4.000000,0.216322,3.000000,-0.545268
1,4.419573,2.000000,0.960000,4.000000,0.672067,4.000000,4.000000,1.633000,1.132040,2.000000,...,0.954546,4.000000,4.000000,0.849397,3.000000,3.000000,1.123036,0.749687,1.487580,0.663396
2,0.825242,0.888495,4.000000,4.000000,4.000000,0.598356,0.566452,4.000000,0.057760,0.000000,...,-0.061670,0.000000,-0.169716,0.190260,-0.066644,-0.189352,-0.536470,0.316718,-0.311899,-0.245128
3,4.000000,-0.465549,1.460722,2.000000,-0.424592,0.478430,0.988070,1.627385,-0.407331,2.393344,...,-0.013292,1.325966,-0.475574,0.345352,-0.444652,-0.481465,-0.192456,0.999246,-0.518229,-0.425758
4,3.289773,0.274970,0.346000,0.588332,5.000000,0.421707,0.412136,1.803200,0.259528,4.000000,...,0.295163,0.346000,0.644324,0.156765,0.222207,0.185395,0.376117,0.086113,0.148630,0.263837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.825242,0.835183,0.000000,1.153772,1.006912,0.598356,0.566452,5.000000,4.000000,5.000000,...,-0.061670,0.000000,4.000000,-0.047261,4.000000,2.000000,3.000000,-0.325478,-0.311899,-0.818880
296,2.925773,-0.162690,5.000000,4.000000,-0.121733,1.000000,2.848136,2.339200,-0.033291,1.000000,...,0.135518,-0.174000,2.001259,2.664022,0.053620,-0.058569,0.012117,2.522113,1.000000,0.120689
297,0.212595,0.094429,-0.049968,5.000000,0.247097,0.144529,0.350816,2.186520,-0.017649,2.607886,...,0.318621,-0.049968,1.030406,-0.048564,-0.054971,1.024516,1.292480,-0.191064,-0.128547,-0.253310
298,2.553373,1.000000,0.294000,0.551932,0.205867,0.385307,0.418519,2.666800,0.223128,0.294000,...,3.000000,4.000000,0.154885,0.191622,0.482171,0.148995,0.044859,0.485003,0.112230,0.419404
299,0.082148,0.457765,4.763679,1.702117,-0.014354,0.014082,1.417607,3.000000,3.000000,1.502434,...,4.000000,-0.236321,-0.216340,5.000000,-0.008687,-0.034091,3.000000,0.895617,0.177281,-0.386986

In [9]:
active_user_pearson_corr = np.zeros((active_ds.shape[0], train_ds.shape[0]))

# Compute Pearson Correlation Coefficient of All Pairs of Users between active set and imputed training set
for i, user_i_vec in enumerate(active_ds.values):
    for j, user_j_vec in enumerate(imputed_train_ds.values):
        
        # ratings corated by the current pair od users
        mask_i = user_i_vec > 0
        mask_j = user_j_vec > 0

        # corrated item index, skip if there are no corrated ratings
        corrated_index = np.intersect1d(np.where(mask_i), np.where(mask_j))
        if len(corrated_index) == 0:
            continue

        # average value of user_i_vec and user_j_vec
        mean_user_i = np.sum(user_i_vec) / (np.sum(np.clip(user_i_vec, 0, 1)) + EPSILON)
        mean_user_j = np.sum(user_j_vec) / (np.sum(np.clip(user_j_vec, 0, 1)) + EPSILON)

        # compute pearson corr
        user_i_sub_mean = user_i_vec[corrated_index] - mean_user_i
        user_j_sub_mean = user_j_vec[corrated_index] - mean_user_j

        r_ui_sub_r_i_sq = np.square(user_i_sub_mean)
        r_uj_sub_r_j_sq = np.square(user_j_sub_mean)

        r_ui_sum_sqrt = np.sqrt(np.sum(r_ui_sub_r_i_sq))
        r_uj_sum_sqrt = np.sqrt(np.sum(r_uj_sub_r_j_sq))

        sim = np.sum(user_i_sub_mean * user_j_sub_mean) / (r_ui_sum_sqrt * r_uj_sum_sqrt + EPSILON)

        # significance weighting
        weighted_sim = (min(len(corrated_index), GAMMA) / GAMMA) * sim

        active_user_pearson_corr[i][j] = weighted_sim

active_user_pearson_corr

array([[-0.22379811,  0.21983795,  0.27650809, ...,  0.24981217,
         0.02232371,  0.37308651],
       [ 0.19751566,  0.14858505,  0.46853096, ...,  0.3894791 ,
         0.00670074,  0.45691701],
       [ 0.14712937, -0.29647016,  0.13144372, ..., -0.02500026,
         0.1925939 , -0.18848681],
       ...,
       [ 0.11998261,  0.11996471, -0.30598424, ..., -0.12874992,
        -0.10891419, -0.53042598],
       [ 0.14410373,  0.28964422,  0.45282972, ...,  0.24310327,
        -0.27447864, -0.09838197],
       [-0.04252086, -0.24079386,  0.06788847, ...,  0.12457798,
         0.34350265,  0.51207493]])

## Predict Ratings of Testing Set

In [10]:
K = 10

test_ds_pred = np.zeros_like(test_ds.values)

for (i, j), rating in np.ndenumerate(test_ds.values):

    if rating > 0:

        sim_user_ids = np.argsort(active_user_pearson_corr[i])[-1:-(K + 1):-1]

        #==================user-based==================#
        # the coefficient values of similar users
        sim_val = active_user_pearson_corr[i][sim_user_ids]

        # the average value of the current user's ratings
        sim_users = imputed_train_ds.values[sim_user_ids]
        user_mean = np.sum(active_ds.values[i]) / (np.sum(np.clip(active_ds.values[i], 0, 1)) + EPSILON)
        sim_user_mean = np.sum(sim_users, axis=1) / (np.sum(np.clip(sim_users, 0, 1), axis=1) + EPSILON)

        # select the users who rated item j
        mask_rated_j = sim_users[:, j] > 0
        
        # sim(u, v) * (r_vj - mean_v)
        sim_r_sum_mean = sim_val[mask_rated_j] * (sim_users[mask_rated_j, j] - sim_user_mean[mask_rated_j])
        
        user_based_pred = user_mean + np.sum(sim_r_sum_mean) / (np.sum(sim_val[mask_rated_j]) + EPSILON)
        user_based_pred = np.clip(user_based_pred, 0, 5)

        test_ds_pred[i][j] = user_based_pred
        
test_ds_pred

array([[4.23349299, 0.        , 5.        , ..., 0.        , 0.        ,
        2.1700854 ],
       [0.        , 1.51679021, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [3.90022001, 0.        , 4.68826603, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

## Compute MAE and RMSE

In [11]:
# MAE
MAE = np.sum(np.abs(test_ds_pred - test_ds.values)) / np.sum(np.clip(test_ds.values, 0, 1))

# RMSE
RMSE = np.sqrt(np.sum(np.square(test_ds_pred - test_ds.values)) / np.sum(np.clip(test_ds.values, 0, 1)))

print("MAE: {}, RMSE: {}" .format(MAE, RMSE))

MAE: 0.9074049394793331, RMSE: 1.1564766884104771